* {
  padding: 0;
  font-family: sans-serif;
}

html { 
  background: url(../images/background.jpg) 
    no-repeat center center fixed; 
  background-size: cover;
}

li {
  list-style: none;
}


.deck .card {
  border: solid 2px rgb(0, 0, 0);
  display: inline-block;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  margin: 5px;
}

.card .card-value {
  font-size:25px;
  font-weight: bold;
}

.hearts,
.diamonds {
  color : red;
}

.card .suit {
	background-image: url('../images/sprites.png');
  height: 100px;
	width: 90px;
  margin-left: 8px;
  margin-top: 5px;
}

.card .diamonds {
	background-position-y: 100px;
}

.card .hearts {
	background-position-x: 90px;
}

.card .clubs {
	background-position-x:90px;
	background-position-y:100px;
}


