.Stack .Card {
  border: solid 2px rgb(0, 0, 0);
  display: inline-block;
  border-radius: 10px;
  width: 100px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
  margin: 5px;
}

.Card {
  font-size:25px;
  font-weight: bold;
}

.Card--diamonds,
.Card--hearts {
  color : red;
}

.Card .Card__suit--image {
  height: 100px;
  margin: auto;
}

.Card .Card__suit--spades {
	background-image: url('../images/spades.png');
  width: 80px;
}

.Card .Card__suit--diamonds {
	background-image: url('../images/diamonds.png');
  width: 80px;
}

.Card .Card__suit--hearts {
	background-image: url('../images/hearts.png');
}

.Card .Card__suit--clubs {
	background-image: url('../images/clubs.png');
}
